# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
env/

# VS Code
.vscode/

# pyenv
.python-version

# pytest cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db
